* {
	font-family: Helvetica, Arial, sans-serif;
}

body {
	margin: 0 auto;
	width: 70vw;
	
}
div {
	padding: 20px;
	border: solid red;
}

h1 {
	font-weight: 900;
	font-size: 80px;
	padding: 0;
	margin: 0;
}

h2 {
	font-weight: 900;
	font-size: 70px;
}

p {
	font-weight: 500;
	font-size: 30px;
}

li {
	font-weight: 700;
	font-size: 30px;
}

button {
	padding-left: auto;
	height: 70px;
	width: 300px;
	font-weight: 900;
	font-size: 30px;
	background-color: #253759;
	color: white;
	border-radius: 35px;
	position: fixed;
	right: 50px;
	bottom: 50px;
}

.prices {
	display: flex;
	border: solid red;
}

.price {
	border: solid black;
	align-content: center;
	text-align: center;
	flex: 1;
}
